$white-color: #ffffff;
$success-color: #35b26f;
$secondary-text: #4f4f4f;

$dark-gray-01: #252627;
$dark-gray-02: #4f4f4f;
$dark-gray-03: #828282;

$blue-branding: #5b86e5;
$blue-gray-05: #e5e8ef;

$light-gray-05: #f7f8fa;
$light-gray-03: #f3f3f3;
$light-error: #ff999f;

$font-inter: "Inter", sans-serif;

$body-bg: #f5f5f5; ;
