@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&family=Source+Serif+Pro:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.wrapper {
  margin: 20px 0;
  border-radius: 16px;
  background-color: #ffffff;
}

.inner {
  padding: 0 40px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  border-radius: 4px;
  font-weight: 600;
  line-height: 114%;
}
.btn--primary {
  background: #5b86e5;
  padding: 8px 133px;
  color: #ffffff;
}
.btn--primary:hover {
  background: #4873cf;
}
.btn--gray {
  border: 1px solid #e5e8ef;
  color: #252627;
  padding: 8px 26px;
}
.btn--gray:hover {
  background: rgb(221, 218, 218);
}

.invalid--feedback {
  border: 1px solid red !important;
  margin-bottom: 10px !important;
}

.feedback {
  color: red;
  margin-bottom: 10px;
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  background: #f5f5f5;
}

.heading {
  display: flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e8ef;
  margin-bottom: 20px;
}
.heading__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #252627;
}

.main {
  margin-bottom: 29px;
}
.main__input-pixel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__dashboard {
  display: flex;
  align-items: center;
  justify-content: start;
  background: #ffffff;
  border: 1px solid #e5e8ef;
  border-radius: 4px;
  padding: 0 10px;
  width: 48%;
  margin-bottom: 20px;
}
.main__dashboard > label {
  padding: 10px 10px 10px 7px;
  width: 100%;
  font-weight: 500;
  line-height: 17px;
  color: #828282;
}
.main__dashboard:hover, .main__dashboard:hover > label, .main__dashboard > input[type=radio]:checked + label, .main__dashboard > input[type=radio]:checked {
  color: #5b86e5;
  border-color: #5b86e5;
}
.main__active {
  border-color: #5b86e5;
}
.main__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f8fa;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  padding: 13px;
  margin-bottom: 20px;
}
.main__information {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0 10px;
}
.main__name-avatar > h5 {
  font-weight: 600;
  line-height: 17px;
  color: #252627;
}
.main__name-avatar > span {
  font-size: 12px;
  line-height: 15px;
  color: #35b26f;
}
.main__change-account > a {
  color: #4f4f4f;
  padding: 11px 13px;
  background: #ffffff;
  line-height: 114%;
}
.main__change-account > a:hover {
  background: rgb(184, 184, 184);
  color: #ffffff;
}
.main__options > label {
  display: block;
  font-weight: 500;
  line-height: 114%;
  color: #252627;
}
.main__options > select, .main__options > input[type=text] {
  background: #ffffff;
  border: 1px solid #e5e8ef;
  width: 100%;
  padding: 10px 12px;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 20px;
  color: #252627;
}
.main__options > input[type=text]::-moz-placeholder {
  line-height: 114%;
  color: #828282;
}
.main__options > input[type=text]:-ms-input-placeholder {
  line-height: 114%;
  color: #828282;
}
.main__options > input[type=text]::placeholder {
  line-height: 114%;
  color: #828282;
}
.main__warning {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 14px 18px;
  background: rgba(255, 153, 159, 0.2);
  border-radius: 4px;
  gap: 0 11px;
  margin-bottom: 20px;
}
.main__missing-title {
  font-weight: 600;
  line-height: 143%;
  color: #4f4f4f;
}
.main__missing-content {
  font-size: 12px;
  line-height: 133%;
  color: #4f4f4f;
  text-align: center;
}
.main__missing-content > a {
  color: #5b86e5;
  text-decoration: underline;
}
.main__conversion {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0 20px;
  margin-bottom: 25px;
}
.main__contact > h3 {
  font-weight: 600;
  line-height: 114%;
  color: #252627;
  margin-bottom: 3px;
}
.main__contact > span {
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}
.main__contact > span > a {
  color: #5b86e5;
}
.main__upgrade > a {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  background: #fffefc;
  border: 1px solid #ff9600;
  border-radius: 4px;
  font-weight: 500;
  line-height: 114%;
  color: #ff9600;
  padding: 0 20px;
}

.final {
  border-top: 1px solid #e5e8ef;
  padding: 35px 0;
}
.final__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f3f3f3;
}

input[type=checkbox] {
  position: relative;
  width: 36px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 30px;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input:checked[type=checkbox] {
  background: #5b86e5;
}

input[type=checkbox]::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background: #fff;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input:checked[type=checkbox]::before {
  left: 20px;
}/*# sourceMappingURL=app.css.map */